body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  width: 80%;
  border-radius: 8px;
  padding: 180px 0 100px 0;
  background-image: url(https://www.historic-uk.com/wp-content/uploads/2017/04/the-sinking-of-the-rms-titanic.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  margin: 30px auto;
}

.top-wrapper h1 {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: whitesmoke;
  display: inline;
}

.details {
  width: 80%;
  padding: 1em 0;
  border-radius: 8px;
  font-size: 25px;
  font-family: cursive;
  background-color: lightslategray;
  margin: 30px auto;
  text-align: left;
}

.container li {
  list-style: none;
  padding: 0.25em 0;
}

footer {
  width: 100%;
  background-color: lightblue;
  padding: 1em 0;
}

.container p {
  font-size: 15px;
  font-weight: bold;
}

.container a {
  font-size: 15px;
  padding: 10px;
}

.header-right {
  font-size: 20px;
  background-color: rgba(83, 38, 38, 0.3);
  transition: all 0.5s;
  float: right;
  color: lavenderblush;
  box-shadow: 0 7px #1a7940;
}

.header-right :hover {
  background-color: rgb(187, 65, 28);
}

.enter :hover {
  transition: all 0.5s;
  cursor: grab;
}
