<!DOCTYPE html>
<html>
   <head> 
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   </head>


   <body>
       <header>
           <div class="container">
               <div class="header-right">
                <!-- In href, put link to the notebook file -->  
                <a href="LINK TO THE FILE">Notebook</a>
               </div>
            </div>
       </header>    

        <div class="top-wrapper">
            <div class="container">
                <h1>Aye, welcome aboard The Titanic! </h1>
               <h2>Do you have what it takes to survive the sinking?</h2>
               <h3>We will let our Machine Learning model decide your fate</h3>
           </div>
        </div>

        <div class="details">
            <div class="container">
                <!-- The result page -->
                <form action="{{ url_for('predict')}}"method="post">
                    <ul>
                  <li><label for="age">Age: </label> 
                    <input type="text" id="age" name="age"></li> 
            
               <li><label for="gender">Gender: </label>
                <select name="gender" id="gender">
                    <option value="1">Male</option>
                    <option value="0">Female</option></li>

                </select>
                <li><label for="t_class"> Socio-Economic Status: </label> 
                    <select name="t_class" id="t_class">
                        <br>
                          <option value="1">Upper</option>
                          <option value="2">Middle</option>
                          <option value="3">Lower</option></li> <br><br>  
    
                    </select>
                <br>
                <li><label for="port">Which port did you get on? </label>
                <select name="port" id="port">
                    <option value="0">Cherbourg</option>
                    <option value="1">Queenstown</option>
                    <option value="2">Southampton</option></li>
                </select>
                <br>
                <div class="enter">
                <input type="submit" value="Submit">
            </div>
            </ul>
                </form>
                {{prediction_text}}


            </div>
        </div>
        
        <footer>
            <div class="container">
                <p>Developed by Gaurav Verma and Sphoorti Kadapa</p>
                <a href="https://www.linkedin.com/in/gaurav-verma-777a70174/">Gaurav's Linkedin</a>
                <a href="https://www.linkedin.com/in/sphoorti-kadapa-b30502193">Sphoorti's Linkedin</a>
            </div>
        </footer>

   </body>





</html>



